# dependencies
**/node_modules/

# expo / metro
**/.expo/
**/dist/
**/web-build/
.metro-health-check*

# native
**/ios/build/
**/android/build/
**/android/app/build/
**/*.keystore

# misc
.DS_Store
*.log
npm-debug.*
yarn-error.*
